!!!
%html
	%head
		%title InvictoTV
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= favicon_link_tag       'favicon.ico'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= javascript_include_tag '//platform.twitter.com/widgets.js', 'async': 'true'
	%body
		= render partial: 'layouts/headers/default_header'
		= render partial: 'layouts/fixed_headers/default_fixed_header'
		= yield
		= render partial: 'layouts/footers/default_footer'
